*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.verde-bg{
    background-color: green;
}
.color{
    color: white;
}
.position-2{
   position: absolute;
   
}
.position-1{
    position: relative;
    
}
.height{
    height: 200px;
}
#footer{
    position: relative;
    min-height: 100px;
}
#footer2{
    position: absolute;
    bottom: 0;
    width: 100%;
}